<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00</td>  <td>1. Python Fundamentals</td> </tr>
      <tr> <td>08:30</td>  <td>2. Analyzing Patient Data</td> </tr>
      <tr> <td>09:30</td>  <td>3. Visualizing Tabular Data</td> </tr>
      <tr> <td>10:20</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>4. Storing Multiple Values in Lists</td> </tr>
      <tr> <td>11:15</td>  <td>5. Repeating Actions with Loops</td> </tr>
      <tr> <td>11:45</td>  <td>6. Analyzing Data from Multiple Files</td> </tr>
      <tr> <td>12:05</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>7. Making Choices</td> </tr>
      <tr> <td>13:30</td>  <td>8. Creating Functions</td> </tr>
      <tr> <td>14:00</td>  <td>9. Errors and Exceptions</td> </tr>
      <tr> <td>14:30</td>  <td>10. Defensive Programming</td> </tr>
      <tr> <td>15:10</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:20</td>  <td>11. Debugging</td> </tr>
      <tr> <td>16:10</td>  <td>12. Command-Line Programs</td> </tr>
      <tr> <td>16:40</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Managing Data with SQL</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Managing Data with SQL (Continued)</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
